*.egg-info
**/__pycache__
**/.DS_Store


jobs/
jobs-legacy/
maxtext/
plots/
jobs_copy/
l_configs_legacy/
legacy/

queue_machines/
tests/

config/*
!config/test_jobman.yaml

assets/*
!assets/maxtext-requirements.txt
.v*/
.c*/

*.sh
/*.py

