absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
benchmark_db_writer @ git+https://github.com/AI-Hypercomputer/aotc.git@2ff16e670df20b497ddaf1f86920dbb5dd9f0c8f#subdirectory=src/aotc/benchmark_db_writer
cachetools==5.5.2
certifi==2025.8.3
charset-normalizer==3.4.3
chex==0.1.90
cloud-accelerator-diagnostics==0.1.1
dacite==1.9.2
dataclasses-json==0.6.7
datasets==3.0.0
dill==0.3.8
docker==7.1.0
docstring_parser==0.17.0
etils==1.13.0
exceptiongroup==1.3.0
filelock==3.19.1
fire==0.7.0
flatbuffers==25.2.10
frozenlist==1.7.0
fsspec==2024.6.1
gast==0.6.0
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.36.0
google-cloud-core==2.4.3
google-cloud-resource-manager==1.14.2
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpc-google-iam-v1==0.14.2
grpcio==1.74.0
grpcio-status==1.62.3
gviz-api==1.10.0
h5py==3.14.0
hf-xet==1.1.9
huggingface-hub==0.34.4
hydra-core==1.3.0
idna==3.10
importlib_resources==6.5.2
iniconfig==2.1.0
jax==0.6.2
jaxlib==0.6.2
Jinja2==3.1.6
keras==3.11.3
libclang==18.1.1
libtpu==0.0.17
Markdown==3.8.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mdurl==0.1.2
ml_dtypes==0.5.3
mpmath==1.3.0
multidict==6.6.4
multiprocess==0.70.16
mypy_extensions==1.1.0
namex==0.1.0
networkx==3.4.2
numpy==2.1.3
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
omegaconf==2.3.0
opt_einsum==3.4.0
optax==0.2.4
optree==0.17.0
packaging==25.0
pandas==2.3.2
pathspec==0.12.1
pluggy==1.6.0
propcache==0.3.2
proto-plus==1.26.1
protobuf==4.25.8
py==1.11.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pytest==8.3.5
pytest-forked==1.6.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2025.7.34
requests==2.32.5
rich==14.0.0
rsa==4.9.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
ruff==0.11.13
safetensors==0.6.2
scipy==1.15.3
shapely==2.1.1
six==1.17.0
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboard-plugin-profile==2.19.0
tensorflow==2.19.1
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
tokenizers==0.21.4
toml==0.10.2
tomli==2.2.1
toolz==1.0.0
torch==2.8.0
torch-xla==2.8.0
torcheval==0.0.7
-e git+https://github.com/AI-Hypercomputer/torchprime.git@589442b2cbb5abcaa93d63dd877e91e8c91e82f8#egg=torchprime
tpu-info==0.5.1
tqdm==4.67.1
transformers==4.52.1
triton==3.4.0
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
watchdog==6.0.0
Werkzeug==2.0.3
wrapt==1.17.3
xpk @ git+https://github.com/AI-Hypercomputer/xpk@e52a5f4cd56ad50aeab06d55100cf4d3abc4c2c8
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
